.container{
  padding: 1.5rem;
}
.buttonDelete{
  background-color: #539165; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  &:hover{
    background-color: #2e583a;
  }
}
.searchBar{
  padding: 8px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  outline: none;
}

/* Estilos para la tabla */
.tableVehicles {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  background-color: #EEEEEE;
}

.tableVehicles  th, .tableVehicles td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tableVehicles th {
  background-color: #11468F;
  color: white;
  cursor: pointer;
}

.tableVehicles tr:nth-child(even){
  background-color: #f2f2f2;
}

.tableVehicles tr:hover {
  background-color: #ddd;
}
